*, html{
    margin: 0;
    padding: 0;
}
.contact{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(45deg, var(--color-1) 0%, var(--color-2) 50%, var(--color-3) 100%);
}

.contact-card{
    padding-top: 15vh;
    height: 85vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-card a{
    color: var(--deep-black);
    text-decoration: none;
}
.contact-box{
    width: 85vw;
    height: 65vh;
    background-color: #ffffff;
    border-radius: 10vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile-picture{
    position: absolute;
    width: 10vh;
    height: 10vh;
    margin: -65vh auto 0 auto;
}
.contact-card svg{
    width: 2vh;
    height: 2vh;
    fill: var(--deep-black);
    margin-right: 1vh;
}
.contact ul{
    list-style: none;
    width: 80vw;
    height: 20vh;
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact li{
    margin: 2vh 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.contact-box p{
    color: var(--light-gray);
    letter-spacing: -4px;
}

@media only screen and (orientation: landscape) {
    .contact-box{
        width: 30vw;
        height: 65vh;
        /* flex-direction: row; */
    }
}