@font-face {
    font-family: Montserrat;
    src: url("../components/montserrat.ttf");
  }
  @font-face {
    font-family: Montserrat-Bold;
    src: url("../components/montserrat-bold.ttf");
  }


html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: Montserrat, 'Helvetica', 'Arial', sans-serif;
}
h1{
    font-family: Montserrat-Bold, 'Helvetica', 'Arial', sans-serif;
}

.welcome{
    background: linear-gradient(45deg, rgba(36,143,220,1) 0%, rgba(109,88,200,1) 48%, rgba(255,79,153,1) 100%);
}
.welcome-photo{
    width: 100vw;
    height: 50vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.welcome-photo div, .welcome-photo div img{
    max-width: 80vw;
    max-height: 45vh;
}
.welcome-text{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: #ffff;
}
.welcome-text h1{
    max-width: 80vw;
    height: fit-content;
    margin-bottom: -10vh;
    font-size: 5vh;
    text-align: center;
}
.welcome-icon{
    width: 1em;
    height: 1em;
    object-fit: contain;
    margin-right: 4vw;
}
.welcome-text ul{
    list-style: none;
    padding: 0;
    width: fit-content;
    max-width: 80vw;
    height: fit-content;
}
.welcome-text li{
    width: fit-content;
    height: fit-content;
    margin: 2.5vh 0;

    display: flex;
    flex-direction: row;
    place-items: center;

    font-size: 2vh;
}

@media only screen and (orientation: landscape) {
    .welcome{
        display: flex;
        flex-direction: row;
    }
    .welcome-photo{
        width: 50vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .welcome-photo div, .welcome-photo div img{
        max-width: 40vw;
        max-height: 60vh;
    }
    .welcome-text{
        width: 45vw;
        height: 100vh;
        align-items: flex-start;
    }
    .welcome-text{
        justify-content: space-evenly;
    }
    .welcome-icon{
        width:  1em;
        margin-right: 1em;
    }
    .welcome-text h1{
        max-width: 30vw;
        font-size: 6vw;
        text-align: left;
    }
    .welcome-text li{
        font-size: 1.5vw;
        margin: 5vh 0;
    }
}